 <widget id="A6156850383287"  version="0.0.1">
    <name>电影秀</name>
    <description>电影秀，短视频app</description>
    <author email="developer@apicloud.com" href="http://www.apicloud.com">Developer</author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="pageBounce" value="false"/>
	<preference name="appBackground" value="rgba(0,0,0,0.0)"/>
	<preference name="windowBackground" value="rgba(0,0,0,0.0)"/>
	<preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>
	<preference name="hScrollBarEnabled" value="false"/>
	<preference name="vScrollBarEnabled" value="false"/>
	<preference name="autoLaunch" value="true"/>
	<preference name="fullScreen" value="false"/>
	<preference name="autoUpdate" value="true" />
	<preference name="smartUpdate" value="false" />
	<preference name="debug" value="true"/>
	<preference name="statusBarAppearance" value="true"/>
	<meta-data name="Mob-AppKey" value="30fa04e8b3280"/>
	<meta-data name="Mob-AppSecret" value="c0d23f1d5f4e50434572a08da87987b8"/>
	<permission name="readPhoneState" />
	<permission name="camera" />
	<permission name="record" />
	<permission name="location" />
	<permission name="fileSystem" />
	<permission name="internet" />
	<permission name="bootCompleted" />
	<permission name="hardware" />
</widget>
